/*
В связи с тем, что макет, согласно фигме, на данный момент не адаптируемый, и его размер зафиксирован максимальной
шириной в 1440px, пока что добавлен специальный класс для фиксированной ширины контейнера
удобный для проверки pixel perfect. В дальнейшем, при адаптации, этот класс будет удален.

*/

* {
  box-sizing: border-box;
}

.page {
  max-width: 1440px;
  margin: 0 auto;
  font-family: "Raleway", sans-serif;
}

/* #region Начало вспомогательных классов */

.no-wrap {
  white-space: nowrap;
}

.letter-spacing-extended {
  letter-spacing: 60px;
}

.no-letter-spacing {
  letter-spacing: normal;
}

.aligned-text,
.aligned-text_center,
.aligned-text_right {
  display: block;
}

.aligned-text {
  text-align: left;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

/* #endregion Конец вспомогательных классов */

/* #region Начало вспомогательных компонентов */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.address {
  max-width: 238px;
  font-weight: 400;
  font-size: 18px;
  line-height: 24.3px;
}

.bet-button {
  border: 1px solid #fff;
  padding: 12px 32px;
  color: inherit;
  font-size: 22px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
  background: transparent;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.bet-button:hover {
  transform: scale(1.03);
}

/* #endregion Конец вспомогательных компонентов */

/* #region Начало блока header */

.header {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  padding: 92px 49px 96px 51px;
}

.header__links-list {
  display: flex;
  align-items: center;
  gap: 10px 33px;
  list-style: circle;
}

.header__links-list-item_no-bullit {
  list-style: none;
}

.header__link {
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  text-underline-offset: 5px;
  transition: text-underline-offset 0.3s ease;
}

.header__link:hover {
  text-underline-offset: 7px;
}

.header__link_active {
  text-decoration: none;
}

.header__logo {
  display: block;
  justify-self: center;
  width: 148px;
  height: 105px;
  transition: transform 0.3s ease;
}

.header__logo:hover {
  transform: scale(1.03);
}

.header__logo-image {
  max-height: 100%;
  object-fit: contain;
}

.header__address {
  justify-self: end;
}

.header__address-link {
  text-underline-offset: 5px;
  transition: text-underline-offset 0.3s ease;
}

.header__address-link:hover {
  text-underline-offset: 7px;
}

/* #endregion Конец блока header */

/* #region Начало блока cover */

.cover {
  position: relative;
  z-index: 1;
  padding: 173px 50px 50px 50px;
  color: #fff;
  background-color: #a7a7a7;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.cover__title {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
  margin-bottom: 135px;
  font-weight: 700;
  font-size: 100px;
  line-height: 100%;
  letter-spacing: 30px;
  text-transform: uppercase;
}

.cover__description {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.cover__description-text {
  margin-right: 80px;
  font-weight: 400;
  font-size: 22px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  word-spacing: 18px;
}

/* #endregion Конец блока cover */

/* #region Начало блока lots */

.lots {
  padding: 179px 50px 50px 50px;
}

.lots__heading {
  margin-bottom: 27px;
  margin-left: 40px;
  font-weight: 700;
  font-size: 40px;
  line-height: normal;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  width: 100%;
  margin-bottom: 30px;
  list-style: none;
}

.lots__card-list-item {
  flex: 1 1 430px;
  min-height: 450px;
}

.lots__look-more-link {
  margin-left: 40px;
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
  text-underline-offset: 5px;
  transition: text-underline-offset 0.3s ease;
}

.lots__look-more-link:hover {
  text-underline-offset: 7px;
}

/* #endregion Конец блока lots */

/* #region Начало компонента card */

.card-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  transition: transform 0.3s ease;
}

.card-link:hover {
  transform: translateY(-5px);
}

.card {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 50px 40px;
  color: #fff;
}

.card_type_film,
.card_type_book,
.card_type_picture {
  background-color: #a7a7a7;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
}

.card__title {
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
  text-decoration: underline;
  text-transform: uppercase;
}

.card__text {
  margin-top: auto;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
}

/* #endregion Конец компонента card */

/* #region Начало блока about */

.about {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 28px;
  padding: 130px 50px 90px 50px;
}

.about__logo {
  display: flex;
  width: 240px;
  height: 240px;
  margin: 0 94px;
  border-radius: 50%;
  background: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  margin: auto;
  object-fit: contain;
}

.about__title {
  margin-top: 102px;
  margin-bottom: 100px;
  font-weight: 700;
  font-size: 40px;
  line-height: normal;
  text-transform: uppercase;
}

.about__text {
  font-weight: 400;
  font-size: 20px;
  line-height: normal;
}

.about__text:not(:last-of-type) {
  margin-bottom: 25px;
}

/* #endregion Конец блока about */

/* #region Начало блока footer */

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: start;
  padding: 90px 50px;
}

.footer__address-link {
  text-underline-offset: 5px;
  transition: text-underline-offset 0.3s ease;
}

.footer__address-link:hover {
  text-underline-offset: 7px;
}

.footer__menu-list {
  text-align: center;
  list-style: none;
}

.footer__menu-link {
  font-weight: 400;
  font-size: 18px;
  line-height: normal;
  text-underline-offset: 2px;
  transition: text-underline-offset 0.3s ease;
}

.footer__menu-link:hover {
  text-underline-offset: 4px;
}

.footer__menu-link_active {
  text-decoration: none;
}

.footer__social-link {
  display: block;
  width: 48px;
  height: 48px;
  transition: transform 0.3s ease;
}

.footer__social-link:hover {
  transform: translateY(-3px);
}

.footer__social-list {
  display: flex;
  flex-wrap: wrap;
  justify-self: end;
  align-items: center;
  gap: 20px 48px;
  max-width: 240px;
  list-style: none;
}

/* #endregion Конец блока footer */

/* #region Адаптивность */

@media screen and (max-width: 1100px) {
  .header {
    padding: 60px 30px;
  }

  .cover {
    padding: 120px 30px 40px;
  }

  .cover__title {
    font-size: 70px;
    letter-spacing: 20px;
    margin-bottom: 80px;
  }

  .cover__description-text {
    margin-right: 40px;
    font-size: 18px;
    word-spacing: 10px;
  }

  .lots {
    padding: 120px 30px 40px;
  }

  .lots__heading {
    font-size: 32px;
    margin-left: 20px;
  }

  .lots__card-list-item {
    flex: 1 1 calc(50% - 12px);
  }

  .about {
    padding: 100px 30px 60px;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .about__logo {
    margin: 0 auto;
  }

  .about__title {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .footer {
    padding: 60px 30px;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .footer__address,
  .footer__social-list {
    justify-self: center;
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .header {
    padding: 40px 20px;
    grid-template-columns: 1fr;
    text-align: center;
  }

  .header__address,
  .header__logo {
    justify-self: center;
  }

  .cover__title {
    font-size: 50px;
    letter-spacing: 15px;
    margin-bottom: 60px;
  }

  .cover__description {
    flex-direction: column;
    gap: 20px;
  }

  .cover__description-text {
    margin-right: 0;
    word-spacing: 8px;
  }

  .lots__card-list-item {
    flex: 1 1 100%;
  }

  .about__logo {
    width: 180px;
    height: 180px;
  }

  .about__logo-image {
    width: 120px;
    height: 90px;
  }

  .about__title {
    font-size: 32px;
  }

  .footer__social-list {
    justify-content: center;
  }
}

/* #endregion Адаптивность */
